!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyD4b3cn2rfZo8VOg3c0N1b1xO-6VmBI7xU&sensor=true')
  body!= body

  // javascript
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='/js/script.js')
