body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
a {
  color: #00B7FF;
}
#controls {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 10%;
  height: 60%;
  background: #fff;
}
