html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#container {
  height: 100%;
}
.container-fluid {
  padding: 0px;
}
#route {
  width: 220px;
  margin: 0 auto;
  padding-top: 20%;
}
#route p {
  text-align: center;
}
#index {
  width: 200px;
  margin: 0 auto;
  padding-top: 50px;
}
#index h1 {
  text-align: center;
  font-size: 29px;
}
#index p {
  text-align: center;
}
#index .help-block {
  text-align: left;
  font-size: 10px;
}
.icon-loading {
  background-image: url("../img/loader.gif");
  background-position: 0px 0px;
}
#map_canvas {
  height: 100%;
  width: 100%;
}
#map_canvas img {
  max-width: none;
}
#controls {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 10%;
  height: 70%;
  background: #fff;
  padding: 10px;
}
#controls #list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#controls #clearcookie {
  position: absolute;
  bottom: 10px;
}
