html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#container {
  height: 100%;
}
#map_canvas {
  height: 100%;
  width: 100%;
}
#map_canvas img {
  max-width: none;
}
#controls {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 10%;
  height: 70%;
  background: #fff;
  padding: 10px;
}
