<div id="controls">
  <h1>Coach Tracker</h1>
  <div id="stop"></div>
  <div id="coach"></div>
  <ul id="list"></ul>
  <div id="address"></div>
  <a href="#" id="clearcookie">Clear route cookie</a>
</div>
